# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Build files
build/
dist/

# OS files
.DS_Store
Thumbs.db

# Local client data
client/profile/
client/tokens/
client/history/
client/settings/
client/music/